<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:name=".TravelBuddyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="TravelBuddy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelBuddy"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TravelBuddy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

<!--        <meta-data-->
<!--            android:name="com.google.android.gms.auth.api.signin.GoogleSignInOptions.clientId"-->
<!--            android:value="1024318500474-3eljtutd52nbidb8dd4f8k895ia7n8jf.apps.googleusercontent.com"/>-->
        <meta-data
            android:name="com.google.android.gms.auth.api.signin.GoogleSignInOptions.clientId"
            android:value="1024318500474-mo5g6hovlhqpqhh120cqnvq0t2mhf97c.apps.googleusercontent.com"
        />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDHsSQutbW-UILDDuYayJoi8qXvFAq2log" />

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent>
    </queries>

    <queries>
        <intent>
            <action android:name="android.settings.WIRELESS_SETTINGS"/>
        </intent>
    </queries>

</manifest>
